body, html {
    margin: 20px;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f7e737;
    color: #000000;
    justify-content: center; 
    font-family: "Roboto", sans-serif;
    font-weight: 300;

}

header {
    background-color: #db2727;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    background-color: #db2727;
    color: #fbfdff;
    border-radius: 10px;
    font-weight: 700;


}

h1 {
    margin: 0;
    font-size: 24px;
}

.byline {
    font-size: 14px;
    color: #fbfdff;
}

article {
    padding-top: 20px;
    padding-bottom: 5px;
    overflow-y: auto; 
    height: calc(100% - 88px); 
    font-family: "Roboto", sans-serif;

}

p {
    line-height: 1.6;
}


.responsive-image {
    
    width: 50vw; 
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;

}

footer {

    text-align: center;
}


figcaption{

    text-align: center;
    font-style: italic;
    font-family: "Roboto", sans-serif;

}