
body {

    font-size: 20px;
    background-color: #BCB88A;
    color: #3E4551;

}

h1 {

    font-size: 2.5em;
    font-family: "Neuton", serif;
    font-weight: 640;
}

nav{
    text-align: center;
    font-size: 1.5em;
    padding: 2em 0;
    font-family: "Times New Roman", Times, serif;

}

nav a {

    color: #3E4551;

}

h2 {

    font-size: 1.5em;
    font-family: "Yrsa", serif;

}


h3 {

    font-size: 1em;
    font-family: "Yrsa", serif;

}


h4{

    font-family: "Yrsa", serif;
    font-size: .75em;

}


ul {
    
    font-size: .75em;
    font-family: "Lato", sans-serif;

}




.headshot{

    padding: 20px;
    background: #5B4935;
    margin-right: 20px;

}


#carousel{

    color:  #fff3e6;
    font-family: "Times New Roman", Times, serif;

}


.slide{
    width: 95%;  
    height: 400px; 
    margin-left: auto;
    margin-right: auto;
}


.photo{

    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25em;
}

.clips {
    font-size: 15px;
    font-family: "Lato", sans-serif;
  }

  
.bio{

    font-family: "Lato", sans-serif;
    padding-top: 30px;

}  


.home{

  display: grid; 
  grid-template-columns: auto 1fr; 
  align-items: center; 
  gap: 20px; 

}

.contact{
    text-align: center;
    padding: 5% 2%;
    margin: 5% 0%;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    color: #8D8D8D;
    background: #5B4935;
    line-height: .50;
    border: 1px solid #000; 
}

.photo{

margin-bottom: 50px;

}